@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto&display=swap");

body {
  margin: 0;
}
/* 
header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  background-color: #fab328;
  height: auto;
}

header h1 {
  grid-column: 2;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  line-height: 20px;
  font-size: 36px;
}

.header-left {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  margin-left: 10px;
}

button {
  border: none;
  background-color: unset;
}

button div {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#menu {
  position: absolute;
  top: 70px;
  height: 100%;
  padding-top: 20px;
  width: 50%;
  left: -51%;
  background-color: white;
  transition: 0.5s;
  z-index: 10;
}

#menu.active {
  left: 0;
}

#menu li {
  list-style: none;
  color: black;
  line-height: 2;
  padding-left: 30px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0 7px 8px -7px #222;
}
#menu li:nth-of-type(6) {
  list-style: none;
  color: black;
  line-height: 2;
  margin-right: 0;
  margin-top: 15px;
  box-shadow: none;
  text-align: right;
}
#menu a {
  text-decoration: none;
  color: black;
}
#menu ul {
  padding: 0;
}
footer {
  background-color: black;
  color: white;
}
footer .social-media ul li {
  list-style: none;
}
footer .social-media ul li i {
  color: white;
}
.social-media nav ul {
  padding-left: 0;
  margin: 0;
  padding-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
}
footer p {
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
} */


/* HERO CONTAINER ================= */

.hero-container {
  background: url("https://images.unsplash.com/photo-1510808718278-4419aba7dc9e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1000&q=80");
  background-size: cover;
  background-position: center;
  height: 20vh;

  border-radius: 5px;

  margin-top: 2rem;
  max-width: unset;
  /* max-width: 800px; */

  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: column nowrap;
  padding: 5vw;
  color: white;
}

h2.hero-container__heading{
  /* check h2 heading size */
  font-size: 2rem;
  font-weight: 600;
}





/* TOOL CATEGORY SECTION =========== */
.home-body{
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2rem;
}

section {
  display: grid;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  /* box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.4); */
  margin: 0 auto;

  /* TODO: change */
  /* max-width: 800px; */
}

h3.catalogue__heading, 
h3.service__heading{
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 2rem;
}

.category-item.clickable{
  box-shadow: 2px 2px 5px rgba(122, 121, 121, 0.4);
  border-radius: 5px;
}

.catalogue__more-btn{
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
}

.catalogue__more-btn--link {
  display: inline-block;
  text-decoration: none;
  padding: .7rem 1rem;
  border: 3px solid currentColor;
  border-radius: 10px;
  font-size: 1rem;
  color: var(--color-secondary-variant);
}

.category-wrapper {
  /* padding-top: 3rem; */
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;
  /* width: 80%; */
  gap: 1rem;
  justify-items: center;
  align-items: center;
}


.category-item {
  width: fit-content;
  /* border: 1px solid grey; */
}
.category-item__image {
  width: 100%;
  border-radius: 5px 5px 0px 0px;
}

.category-link {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.category-link__text {
  line-height: 2rem;
  text-align: center;
  color: black;

  border-top: 5px solid #fab328;
  font-weight: 600;
}





/* SERVICES SECTION =============== */

section.service {
  /* width: 80%;  */
    /* padding-top: 2rem; */
    border-top: 1px solid black;
    margin: 2.5rem auto;
    max-width: 800px;
}

.service-image {
  width: 100%;
  /* height: 100px; */
  object-fit: cover;
  border-radius: 5px;
}

.learn-more__link {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: var(--color-secondary-variant);
}

@media screen and (min-width: 500px) {
  .category-wrapper{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 800px) {
  .category-wrapper{
    grid-template-columns: 1fr 1fr 1fr;
  }

  .hero-container__text{
    font-size: 20px;
  }
}