@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Roboto&display=swap');

body{
  margin: 0;
}

header{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  background-color: #FAB328;
  height: auto;  
}

header h1{
  grid-column: 2;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 20px;
  font-size: 36px;
}

.header-left {
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  margin-left: 10px;
}


button{
  border: none;
  background-color: unset;
}

button div{
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  line-height: 20px;
}

#menu{
  position: absolute;
  top: 70px;
  height: 60%;
  padding-top: 20px;
  width: 50%;
  left: -51%;
  background-color: white;
  transition: 0.5s;
}

#menu.active{
  left: 0;
 }

#menu li{
  list-style: none;
  color: black;
  line-height: 2;
  padding-left: 30px;
  margin-right: 10px;
  margin-top: 10px;
  box-shadow: 0 7px 8px -7px #222;
}
#menu li:nth-of-type(6){
  list-style: none;
  color: black;
  line-height: 2;
  margin-right: 0;
  margin-top: 15px;
  box-shadow: none;
  text-align: right;
}
#menu a{
  text-decoration: none;
  color: black;
}
#menu ul{
  padding: 0;
}
footer{
  background-color: black;
  color:  white;
}
footer .social-media ul li{
  list-style: none;
}
footer .social-media ul li i{
  color: white;
}
.social-media nav ul{
  padding-left: 0;
  margin: 0;
  padding-bottom: 10px;
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  justify-content: center;
}
footer p {
  margin: 0;
  text-align: center;
  padding-bottom: 10px;
}