#tool-list {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 3vw;
	padding: 0 5vw;
	margin-top: 1rem;
	max-width: 100vw;
}

.tool-list__item {
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.8);
	padding: 1rem;
	gap: 0.3rem;
	border-radius: 5px;
}

.tool-item__image-container {
	object-fit: cover;
	padding-top: 1rem;
}

.tool-item__tool-name {
	font-size: min(calc(1rem + 5vw), 10vw);
}

.tool-item__image {
	height: 30vw;
	width: 30vw;
	display: block;
	object-fit: fill;
	border-radius: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.tool-item__description {
	font-size: min(calc(0.4rem + 3vw), 5vw);
	padding: 0 0.3rem;
	overflow-wrap: anywhere;
	min-height: 3rem;
}

.tool-item__submit {
	margin-top: 1rem;
	padding: 0.5rem;
	background-color: rgba(0, 0, 0, 1);
	color: white;
}

.tool-item__availability {
	font-size: min(0.8rem, 3vw);
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
}

.product-number {
	padding-left: 1rem;
}

.loader-container {
	width: fit-content;
	margin: 0 auto;
	padding: 1rem 0;
}
