body {
  margin: 0;
}

div #reservation-time label{
  font-family: "Roboto", sans-serif;
  align-self: center;
}

/* Main */

.wrapper main {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}
h2 {
  padding-bottom: 10px;
  /* border-bottom: 1px solid rgb(0, 0, 0); */
  margin-top: 22px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  color: #222222;
}
h3 {
  margin-top: 29px;
  margin-bottom: 19px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
  color: #000000;
}
.tool-name {
  /* margin-left: 40px; */
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5;
  /* text-align: center; */
  color: #222222;

  padding-bottom: 2rem;
}
.start-reservation {
  margin-left: 46px;
}
.start-reservation {
  display: grid;
  grid-template-columns: repeat(5 1fr);
  margin-left: 46px;
  margin-right: 46px;
  margin-top: 23px;
  gap: 8px;
}
input {
  grid-column: 4/5;
  border-radius: 7px;
  border: 1px solid black;
  padding: .5rem;

}
span#durationpg1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  color: #000000;
  display: block;
  margin-left: 49px;
  margin-top: 39px;
  margin-bottom: 12px;
}
span#price {
  display: block;
  margin-left: 49px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  color: #000000;
  margin-bottom: 10px;
}
span#deposit {
  display: block;
  margin-left: 49px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  text-align: left;
  color: #000000;
  margin-bottom: 25px;
}
div .location-item {
  margin-left: 46px;
  margin-right: 46px;
  border: solid black thin;
  border-radius: 7px;
  margin-bottom: 10px;
  padding: 1rem;
}
.selected-location .location-item {
  border: 2px solid #3EA8DD;
  /* background-color: rgba(212, 211, 211, 0.562); */
  /* font-weight: bold; */
}
.terms-title {
  margin-top: 39px;
}
#page1 nav ul li {
  margin-left: 44px;
  margin-right: 44px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  text-align: start;
  color: #000000;
  list-style: disc;

}
#page1 nav ul li::marker{
  color: #3EA8DD;
}
div#page1 {
  position: relative;
}
.read-more {
  position: absolute;
  margin-right: 59px;
  right: 0;
}
.read-more a {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  text-align: right;
  color: #000000;
}
.terms-agreement {
  text-align: center;
  margin-top: 28px;
}
input#agree-terms {
  background: #3EA8DD;
  border-radius: 7px;
}
.page1-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 45px;
  margin-left: auto;
  margin-right: auto;
  width: 240px;
  height: 43px;
  border: 2px solid #3EA8DD;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #3EA8DD;
}
.shown {
  display: none;
}
.empty {
  border: thick red solid;
}

/* Page 2 style */
.title-rental {
  margin-left: 53px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin-bottom: 4px;
}
span#pricepg2 {
  display: block;
  margin: 2rem 0;
  /* text-align: right; */
  /* margin-right: 49px;
  margin-top: 8px;
  margin-bottom: 76px; */
  font-family: "Raleway", sans-serif;
  /* font-style: normal;
  font-weight: normal; */
  font-size: 1rem;
  /* color: #000000; */
}
.rental-duration {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  color: #000000;
}
.rent-dates {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #000000;
}
/* .rental-container {
  position: relative;
  margin-left: 28px;
  margin-right: 46px;
  border: solid black thin;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 27px;
  padding-top: 8px;
  padding-bottom: 7px;
  min-height: 79px;
} */
div#rental-container i {
  position: absolute;
  right: 20px;
  top: 26px;
  font-size: 21px;
  color: #3ea8dd;
}
.pick-up-title {
  margin-left: 53px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin-bottom: 4px;
}
.pick-up-container,
.rental-container {
  position: relative;
  /* margin-left: 28px;
  margin-right: 46px; */  
  /* margin-bottom: 10px; */
  margin: .5rem 2rem;
  border: solid black thin;
  border-radius: 5px;
  /* padding-left: 27px;
  padding-top: 8px;
  padding-bottom: 7px; */
  padding: .5rem 1.5rem;
  min-height: 79px;
}

span#tool-name-location {
  margin-right: 2.5rem;
}
div#pick-up-container i {
  position: absolute;
  right: 20px;
  bottom: 40px;
  font-size: 21px;
  color: #3EA8DD;
}
.pick-up-title {
  margin-left: 53px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin-top: 22px;
  margin-bottom: 4px;
}
.payment-title {
  margin-left: 53px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
  color: #000000;
  margin-top: 23px;
}
div#payment-container i {
  position: absolute;
  right: 20px;
  font-size: 21px;
  color: #3EA8DD;
}
.payment-container {
  position: relative;
  margin-left: 28px;
  margin-right: 46px;
  border: solid black thin;
  border-radius: 5px;
  margin-bottom: 10px;
  padding-left: 27px;
  padding-top: 8px;
  padding-bottom: 7px;
  min-height: 79px;
}
#page2{
  margin: auto;
}

.page-btn.page2 {
  text-align: center;
  padding-top: 2rem;
}

#page2-btn {
  margin-top: 45px;
  margin-bottom: 45px;
  /* margin-left: 22%; */
  margin: auto;
  width: 240px;
  height: 43px;
  border: 2px solid #3EA8DD;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #3EA8DD;
}
#locationContainer {
  max-width: 490px;
  margin-left: auto;
  margin-right: auto;
}
#page1 nav {
  max-width: 1000px; 
  margin-left: auto;
  margin-right: auto;
}

.tool-name-price-container{
  padding: 0 2rem;
  margin: auto;
}


@media screen and (min-width: 500px) {
    #start-date {
      grid-column: 2;
    }
    #start-time-label{
      grid-row: 2;
      grid-column: 1;
    }
    #start-time {
      grid-row: 2;
      grid-column: 2;
    }
    div #page2 {
      max-width: 635px;
      min-width: 500px;
    }
    div.tool-name-price-container{
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
    }
    span#pricepg2 {
      margin-top: 0px;

    }

}