:root {
	--border-radius-return-tool: 5px;
}

img,
.toggle-container,
.return-container,
.pick-up-details {
	width: 100%;
}

h3 {
	font-size: 24px;
	font-weight: bold;
	margin: 1rem 0;
}
.return-tool {
	margin: 1rem 0;
	font-weight: bold;
}

.return-tool-image {
	max-height: 200px;
	object-fit: fill;
	object-position: center;
}

main {
	width: 90%;
	max-width: 1000px;
}
.return-progress {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr;
}
header{
  height: 64px;
}
header #toggle div{
	display: none;
}

@media screen and (min-width: 500px) {
	.return-progress {
		grid-template:
			"head     head" 80px
			"toolName location" auto
			"image    location" auto
			"toggle   location" auto
			"section  location" 1fr
			"button   button  " auto/
			1fr 1fr;

		grid-template-columns: repeat(2, 1fr);
		column-gap: 10rem;
	}
	.return-progress h3 {
		grid-area: head;
	}
	.return-tool {
		grid-area: toolName;
	}

	.return-tool-image {
		grid-area: image;
	}
	.toggle-container {
		grid-area: toggle;
	}

	.return-container,
	.pick-up-details {
		grid-column: 1;
	}

	.location-selection {
		grid-column: 2;
		grid-row: 3 / 6;
	}
}

#return-tool main {
	display: grid;
	align-items: center;
	justify-items: center;
	margin: 0 auto;
}

.return-request-btn {
	width: 220px;
	margin: 1rem;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
	border-radius: 3px;
	transform: translateY(0);
	transition: all 0.1s;
	color: var(--color-secondary-variant);
	border: 2px solid currentColor;
	padding: 12px 86px;
	font-weight: bold;
	font-size: 16px;
}
.return-request-btn:hover {
	transform: translateY(-2px);
	box-shadow: 0px 8px 8px rgba(0, 0, 0, 0.5);
}

.return-request-btn:active {
	transform: translateY(-1px);
	box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
}
.location-item {
	padding: 1rem;
}
.selected-location .location-item {
	border: 2px solid red;
}

.return-container {
	display: grid;
	grid-template-columns: 1fr;
	gap: 2rem;
	justify-items: center;
	align-items: center;
}

.pick-up-details-container {
	border: 1px solid black;
}

.toggle-container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	background-color: var(--color-primary);
	padding: 0.3rem 1rem;
	border-radius: var(--border-radius-return-tool);
	margin: 2rem 0;
	max-height: 40px;
}

.toggle-switch {
	content: "";
	grid-column: 1 / -1;
	grid-row: 1;
	width: 50%;
	background-color: #fff;
	height: 100%;
	transition: all 0.1s;
	border-radius: var(--border-radius-return-tool);
}
.toggle-container__return {
	grid-column: 1 / 2;
	grid-row: 1;
}

.toggle-container__pick-up-details {
	grid-column: 2 / 3;
	grid-row: 1;
}

.toggle-item {
	text-align: center;
	padding: 0.3rem;
	cursor: pointer;
	font-weight: bold;
}

.toggle-container__pick-up-details,
.toggle-container__return {
	z-index: 1;
}

#pickUpDetails {
	display: none;
}

#pickUpDetails:checked + main .toggle-switch {
	transform: translateX(100%);
}

.pick-up-details {
	display: grid;
	gap: 1rem;
	padding: 3rem 0;
	display: none;
}

/* Toggle  section [Return] to [Pick-Up Details]  */
#pickUpDetails:checked + main .pick-up-details {
	display: grid;
}

/* Toggle  section[Pick-Up Details] to  [Return]   */
#pickUpDetails:checked + main .return-container {
	display: none;
}

/* Return section */
.return-time {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	padding-bottom: 1rem;
	border-bottom: 1px solid #000;
}

.areaLabel {
	width: 100%;
	padding: 0.2rem 0;
	border-radius: 5px;
}
.areaLabel option {
	display: inline-block;
	padding-left: 0.5rem;
}

.locationContainer {
	display: grid;
	grid-template-columns: 1fr;
	gap: 17px;
	width: 100%;
}

location-item {
	width: 100%;
}
.location-selection {
	width: 100%;
	display: grid;
	gap: 1rem;
}
/*====================RETURN INSTRUCTION SCREEN========================*/
div#return-instruction {
	height: 100%;
}
div#return-instruction h3{
	margin-bottom: 37px;
	margin-top: 61px;
}
div#return-instruction h4{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 5px;
	margin-top: 1rem;
}
div#return-instruction p{
	font-family: "Roboto", sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin-left: 13px;
	margin-top: 1rem;
  margin-bottom: 1rem;
}
div#return-instruction .step-1 p:first-of-type:before{
	content:"•";
	margin-right: 10px;
}
button#btn-show-scanner {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid #3EA8DD;
	border-radius: 6px;
	height: 43px;
	width: 220px;
	font-size: 1rem;
	font-weight: 700;
	color: #3EA8DD;
}
p#user-code {
	background-color: #FFC400;
	padding: 6px;
	text-align: center;
	font-weight: 700 !important;
}
div#return-instruction .step-2 p#step-2-info::before{
	content:"•";
	margin-right: 10px;
}
div#return-instruction .step-3 p:first-of-type:before{
	content:"•";
	margin-right: 10px;
}
p.no-files {
	font-size: 12px !important;
	background-color: #e6e6e6;
	padding: 5px;
	text-align: center;
	font-weight: 700 !important;
}
button#submit-btn {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid #3EA8DD;
	border-radius: 6px;
	height: 43px;
	width: 220px;
	font-size: 1rem;
	font-weight: 700;
	color: #3EA8DD;
}
#photo-btn {
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: 2px solid #3EA8DD;
	border-radius: 6px;
	height: 43px;
	width: 220px;
	font-size: 1rem;
	font-weight: 700;
	color: #3EA8DD;
	text-align: center;
  padding-top: 11px;
}


/* =============Scanner=========== */
button.dce-btn-close {
	background-color: orange;
	margin: 5px;
	border: 1px solid black;
	border-radius: 5px;
	width: 50px;
	height: 30px;
}
button.dce-btn-close:before {
	content: "Close";
	font-weight: bold;
}
button.dce-btn-close svg {
	display: none;
}
select.dce-sel-camera {
	display: none;
}
select.dce-sel-resolution {
	display: none;
}
.dbrScanner-scanlight {
	display: none;
}
.dbrScanner-msg-poweredby {
	display: none;
}
/* Toggle this class - hide and show the popup */
.popup .show {
	visibility: visible;
	animation: fadeIn 5s;
	height: auto;
	width: auto;
}
.pop-up-btn {
	background: white;
	text-align: center;
	padding: 12px;
	border: solid 2px #3EA8DD;
	margin-top: 26px;
	width: 220px;
	color: #3EA8DD;
	height: 43px;
	margin-left: 100px;
	margin-bottom: 25px;
	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 16px;
}
.code {
	font-weight: bold;
}


@media screen and (min-width: 500px) {
	.location-selection {
		grid-template-rows: 1rem 1rem 2rem 1fr;
	}
	.locationContainer {
		display: flex;
		flex-flow: column nowrap;

		gap: 1rem;
		width: 100%;
	}
}

.location-selection__description {
	text-align: center;
}

/* Pick-Up Details  section */
.pick-up-details {
	width: 100%;
}
.pick-up-details__duration {
	border: 1px solid black;
	border-radius: var(--border-radius-return-tool);
	width: 100%;
	padding: 1rem;
}
.pick-up-details__duration--duration {
	font-weight: bold;
	margin-bottom: 5px;
}

.pick-up-details__heading {
	font-weight: bold;
}

.return-confirmation {
	display: grid;
	gap: 2rem;
	grid-template-columns: 1fr;
	width: 100%;
	justify-items: center;
	align-items: center;
}

.return-time__time-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
}
.return-confirmation__location-container,
.return-confirmation__return-time-container {
	width: 100%;
}

.confirm-btn {
	margin: 5rem 0;
	padding: 1rem;
	width: 80%;
}
.hidden {
	display: none !important;
}


/* Add animation (fade in the popup) */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.desktop-confirm-btn {
	display: none;
}

@media screen and (min-width: 500px) {
	.desktop-confirm-btn {
		display: block;
	}
	.mobile-confirm-btn {
		display: none;
	}
}
