body{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    gap: 1rem;
}
form{
        display: flex;
        flex-flow: column nowrap;
        gap: 1rem;
}
label{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}