body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
}
main {
  max-width: unset;
}
.sign-up-left {
  display: flex;
  flex-flow: column nowrap;
  padding: 61px 21px 0px 21px;
  gap: 1rem;
}
h1 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
}
form {
  display: flex;
  flex-flow: column nowrap;
  gap: 13px;
}
input {
  height: 39px;
  line-height: 1;
  font-size: 17px;
}
main form button {
  width: 240px;
  height: 43px;
  border: 2px solid #3ea8dd;
  box-sizing: border-box;
  border-radius: 7px;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  color: #3ea8dd;
  align-self: center;
}
p.mandatory {
  text-align: right;
}

footer {
  margin-top: 1rem;
}
.sign-up-features {
  display: none;
}

/* @media screen and (min-width:500px) {
  .sign-up-features{
    display: unset;
    padding-top: 208px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sign-up-features h2{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 1rem;
  }
  main h1{
    padding-top: 79px;
  }
  .wrapper{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
  }
  .sign-up-features nav ul li:before{
    font-family: "Font Awesome 6 Brands";
    content:"\f00c";
    font-weight: 400;
    color: var(--color-secondary-variant);
}
  nav ul li{
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
  }
  img{
    width: 476px;
    height: 302px;  
  }
} */
@media screen and (min-width: 800px) {
  .sign-up-features {
    display: unset;
    padding-top: 208px;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .sign-up-features h2 {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 30px;
    padding-bottom: 1rem;
  }
  main h1 {
    padding-top: 79px;
    display: unset;
  }
  .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    gap: 1rem;
  }

  .sign-up-features nav ul li > i {
    margin-right: 10px;
    color: var(--color-secondary-variant);
    font-size: 15px;
  }
  nav ul li {
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 300;
  }

  nav {
    padding-bottom: 1rem;
  }
  main img {
    width: 476px;
    height: 302px;
  }
}
